body{
    background-image: url("1.jpg");
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shape{
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

form{
    position: relative;
    margin: 0rem 33rem;
    padding: 2rem;
    background-color: rgba(255,255,255,0.10);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

p {
margin: 0.5rem 0rem;
text-align: left;
}
.gender {
    text-align: left;
}
input{
    color: aliceblue;
    background-color: rgba(0,0,0,0.6);
    border: none;
    padding: 1rem 0.6rem;
    border-radius: 5px;
}
.b1 {
    margin:1rem ;
    background-color: white;
    padding: 0rem 3rem;  
    border: none;
    border-radius: 5px;
}
.b1 input {
    font-weight:bold ;
    color:black;
    background-color: white;
}
h6{
    color:white;
    font-weight:300 ;
    text-align: left;
    margin:-2px 2px ;
}
span.error{
    font-size: 1rem;
    color:rgb(138, 0, 0);
    display: none;
}
div.Gender{
    margin: 1rem 0rem;
}
@media only screen and (max-width:1280px) {
    form{
        margin:3rem;
    }
    input{
        width: 90%;
    }
    .gender input{
        width:auto;
    }
}